header{
  margin: none;

}
div{
  background-size:  100%;
}
.wrap-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vh;
  justify-content:  center;
}
.wrap-horizontal *, .wrap-vertical *{
  margin: 0;
}

.wrap-vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  justify-content: center;
}
img{
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  object-fit: cover;
}